<script>
  import { createQuery } from "@tanstack/svelte-query";
  import { fetchContract } from "../../api";
  export let id = "";

  const names = {
    'id': 'Внутренний ID',
    'id_spgz': 'ID СПГЗ',
    'title': 'Наименование СПГЗ',
    'reestr_number': 'Реестровый номер в РК',
    'lot_number': 'Номер лота в закупке',
    'ikz': 'ИКЗ',
    'customer': 'Заказчик',
    'subject': 'Наименование (предмет) ГК',
    'method': 'Способ определения поставщика',
    'basis': 'Основание заключения контракта с ед.  поставщиком',
    'status': 'Статус контракта',
    'version': '№ версии',
    'price': 'Цена ГК, руб.',
    'price_conclusion': 'Цена ГК при заключении, руб.',
    'paid': 'Оплачено, руб.',
    'paid_percent': 'Оплачено, %',
    'final_code': 'Конечный код КПГЗ',
    'final_name': 'Конечное наименование КПГЗ',
    'date_conclusion': 'Дата заключения',
    'date_registration': 'Дата регистрации',
    'date_last_change': 'Дата последнего изменения',
    'date_start': 'Срок исполнения с',
    'date_end': 'Срок исполнения по',
    'date_end_conclusion': 'Дата окончания срока действия',
    'supplier_type': 'Принадлежность поставщика к МСП на момент заключения ГК',
    'subject_rus': 'Наименование субъекта РФ поставщика',
    'law': 'Закон-основание (44/223)',
    'electronic_execution': 'Электронное исполнение',
    'executed': 'Исполнено поставщиком',
  }

  $: contract = createQuery({
    queryKey: ["contract", { id }],
    queryFn: () => fetchContract(id),
  });

  $: listFiels = Object.keys($contract.isSuccess ? $contract.data : {})
</script>

{#if $contract.isLoading}
    <div aria-busy="true">Загрузка...</div>
{:else if $contract.isError}
    <p>Error: {$contract.error.message}</p>
{:else if $contract.isSuccess}
<table>
  <tbody>
    {#each listFiels as field}
      <tr>
        <th scope="row">{names[field]}</th>
        <td>{$contract.data[field]}</td>
      </tr>
    {/each}
  </tbody>
</table>
{/if}