<script>
  import { sendLogin, sendMessage } from "../api";

  let isDisabled = false;
  let username = "";
  let password = "";
  const handleOnSubmit = async () => {
    isDisabled = true;
    await sendLogin({ username, password });
    await sendMessage({ text: 'Вход в систему' });
    location.reload()
  };
</script>

<form on:submit|preventDefault={handleOnSubmit}>
  <input
    bind:value={username}
    type="text"
    name="username"
    placeholder="Логин"
    aria-label="Login"
    autoComplete="username"
    required
  />
  <input
    bind:value={password}
    type="password"
    name="password"
    placeholder="Пароль"
    aria-label="Password"
    autoComplete="current-password"
    required
  />
  <button disabled={isDisabled} type="submit">Войти</button>
</form>
