<script>
  import Highcharts from "highcharts";
  import ExportingModule from "highcharts/modules/exporting";
  import { Chart } from "@highcharts/svelte";

  ExportingModule(Highcharts);

  export let data = null;
  let chartInstance;

  $: days = Object.values(data?.days ?? {}).map((item) => new Intl.DateTimeFormat().format(new Date(item)));
  $: values = Object.values(data?.values ?? {}).map((item) => Number(Number.parseFloat(item).toFixed(2)));

  $: options = {
    chart: {
      type: "column",
    },
    title: {
      text: "Прогноз объема закупки в рублях",
      align: "left",
    },
    xAxis: {
      categories: days,
      crosshair: true,
    },
    yAxis: {
      min: 0,
      title: {
        text: "Рубли",
      }
      // title: {
      //   text: "1000 metric tons (MT)",
      // },
    },
    tooltip: {
      valueSuffix: " руб.",
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0,
      },
    },
    series: [
      {
        name: "Рубли",
        data: values,
      }
    ],
  };
</script>

<Chart {options} highcharts={Highcharts} bind:chart={chartInstance} />
