<script>
  import { onMount } from "svelte";
  import { fetchCalculations, sendCalculation } from "../api";
  import { pagination, parseQuery } from "../helpers";
    import { createQuery } from "@tanstack/svelte-query";

  let isDisabled = false;
  let product_title;
  let address = "";

  onMount(() => {
    const params = parseQuery(location.search);
    product_title = params["product_title"];
  });

  const handleOnSubmit = async () => {
    try {
      isDisabled = true;
      await sendCalculation({
        product: product_title,
        address: address,
      });
      window.history.pushState(null, null, window.location.pathname);
      location.reload();
      isDisabled = false;
    } catch (error) {
      isDisabled = false;
    }
  };

  let page = 1;

  $: query = createQuery({
    queryKey: ["products", { page }],
    queryFn: () => fetchCalculations({ page }),
  });

  $: pag = pagination(page, $query?.data?.count, 10);

  function downloadObjectAsJson(exportObj, exportName){
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
    var downloadAnchorNode = document.createElement('a');
    downloadAnchorNode.setAttribute("href",     dataStr);
    downloadAnchorNode.setAttribute("download", exportName + ".json");
    document.body.appendChild(downloadAnchorNode); // required for firefox
    downloadAnchorNode.click();
    downloadAnchorNode.remove();
  }

  const handleDownload = (e, data) => {
    e.preventDefault()
    downloadObjectAsJson(data, 'data')
  }
</script>


{#if product_title !== undefined}
<h1>Прогнозирование</h1>
<form>
  <label>
    <span>Продукт</span>
    <input type="text" readonly bind:value={product_title} />
  </label>
  <label>
    <span>Адрес</span>
    <input type="text" bind:value={address} />
  </label>
  <button disabled={isDisabled} on:click={handleOnSubmit}>
    Создать прогноз
  </button>
</form>
{/if}

<h3>Прогнозы</h3>

{#if $query.isLoading}
  <div aria-busy="true">Загрузка...</div>
{:else if $query.isError}
  <p>Error: {$query.error.message}</p>
{:else if $query.isSuccess}
  {#each $query.data.results as product}
    <div>
      <p>
        {product.uuid} - {product.title} <br />
        <a on:click={(e) => handleDownload(e, product.export_data)} href="#">Скачать json</a>
      </p>
    </div>
  {/each}
{/if}

<nav>
  <ul>
    {#each pag.pages as _page}
      {#if _page === "..."}
        <li><span>{_page}</span></li>
      {:else}
        <li><a href="#" on:click={() => (page = _page)}>{_page}</a></li>
      {/if}
    {/each}
  </ul>
</nav>
