<script>
  import { Link } from "svelte-routing";
  import { fetchMessages, sendMessage } from "../api";
  import { onMount, tick } from 'svelte'
  import MessageChart from "../lib/MessageChartPrice.svelte";

  let messages = []
  let status = 'none'
  let isFirstLoad = true
  let page = 1
  let hasNext = true

  function prettyDate(time) {
    var date = new Date((time || "").replace(/-/g, "/").replace(/[TZ]/g, " ")),
      diff = (new Date().getTime() - date.getTime()) / 1000,
      day_diff = Math.floor(diff / 86400);

    if (isNaN(day_diff) || day_diff < 0 || day_diff >= 31) return;

    return (
      (day_diff == 0 &&
        ((diff < 60 && "только что") ||
          (diff < 120 && "1 минута назад") ||
          (diff < 3600 && Math.floor(diff / 60) + " минут назад") ||
          (diff < 7200 && "1 час назад") ||
          (diff < 86400 && Math.floor(diff / 3600) + " часов назад"))) ||
      (day_diff == 1 && "Вчера") ||
      (day_diff < 7 && day_diff + " дней назад") ||
      (day_diff < 31 && Math.ceil(day_diff / 7) + " недель назад")
    );
  }

  onMount(async () => {
    status = 'loading'
    const res = await fetchMessages({ page: page })
    messages = [...res.results]
    hasNext = !!res.next
    status = 'success'
  })

  let text = "";
  let chatNode = null;

  const handleOnSubmit = async () => {
    const _text = text;
    text = "";
    const el = await sendMessage({ text: _text });
    messages = [...messages, ...el.data];
    await tick();
    chatNode.scrollTop = chatNode.scrollHeight
  };

  const handleScroll = async (e) => {
    if(e.target.scrollTop === 0 && hasNext && status === 'success') {
      const scrollTop = chatNode.offsetHeight
      page += 1
      const res = await fetchMessages({ page: page })
      messages = [...res.results, ...messages]
      hasNext = !!res.next
      await tick()

      chatNode.scrollTop = scrollTop;
    }
  }

  $: if(status === 'success' && chatNode && isFirstLoad) {
    chatNode.scrollTop = chatNode.scrollHeight
    isFirstLoad = false
  }
</script>

<div class="chat">
  {#if status === 'loading'}
    <ol aria-busy="true"></ol>
  {/if}
  {#if status === 'success'}
    <ol class="chat__main" bind:this={chatNode} on:scroll={handleScroll}>
      {#each messages as msg}
        <li
          class="chat__message {msg.type === 'USER'
            ? 'float--right'
            : 'float--left'}
            {msg.system_info && msg.system_info.diagram ? 'chat__message--with-diagram' : ''}"
        >
          <div class="chat__message-header">
            <span>{prettyDate(msg.created_at)}</span>
          </div>
          <div class="chat__message-body">
            <div>
              {@html msg.text.replace(/\n/g, '<br />')}
            </div>
            {#if msg.system_info !== null}
              {#if msg.system_info.contract_id}
                <Link to="/contract/{msg.system_info.contract_id}">Контракт</Link>
              {/if}
              {#if msg.system_info.diagram}
                <MessageChart data={msg.system_info.diagram} />
                <div><a href="/forecasting?product_title={msg.system_info.product_title}" target="_blank">Создать запрос</a></div>
              {/if}
              {#if msg.system_info.many_products_find}
                <div><a href="/forecasting?product_title={msg.system_info.many_products_find.join(',')}" target="_blank">Создать запрос</a></div>
              {/if}
            {/if}
          </div>
        </li>
      {/each}
    </ol>
  {/if}
  <footer class="chat__footer">
    <form on:submit|preventDefault={handleOnSubmit}>
      <textarea
        bind:value={text}
        autofocus
        class="chat__textarea"
        rows="1"
        placeholder="Напишите сообщение"
      ></textarea>
      <div class="chat__controls">
        <button disabled={!text} class="chat__btn chat__btn--primary"
          >Отправить</button
        >
      </div>
    </form>
  </footer>
</div>

<style>
  :root {
    --chat-padding-primary: 0.2rem;
    --chat-padding-secondary: 0.55rem;
    --chat-border-radius: 0.25rem;
  }

  h1,
  h2 {
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  .chat {
    resize: both;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }

  .chat__header {
    padding: var(--chat-padding-primary);
    background-color: hsl(0, 0%, 95%);
  }

  .chat__main {
    padding: 0.5rem;
    flex: auto;
    overflow-y: scroll;
    list-style: none;
    background-color: hsl(0, 0%, 60%);
    margin-bottom: 0;
  }

  .chat__footer {
    padding: var(--chat-padding-primary);
    background-color: hsl(0, 0%, 95%);
  }

  .chat__message {
    margin: calc(var(--chat-padding-primary) / 2);
    max-width: 75%;
    min-width: 50%;
    border-radius: var(--chat-border-radius);
    overflow: hidden; /* Force children to obey `border-radius`. */
    background-color: hsl(0, 100%, 100%, 100%);
  }

  .chat__message--with-diagram {
    max-width: 85%;
    min-width: 85%;
  }

  .chat__message-header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.75rem;
    border-bottom: 1px solid hsl(0, 100%, 0%, 10%);
    background-color: hsl(0, 100%, 0%, 10%);
  }

  .chat__message-body {
    font-size: 1rem;
    line-height: 1.5;
    padding: var(--chat-padding-secondary);
  }

  .chat__textarea {
    display: flex;
    width: 100%;
    padding: var(--chat-padding-secondary);
    border: 1px solid hsl(0, 100%, 0%, 10%);
    border-radius: var(--chat-border-radius);
    font-size: 1rem;
    line-height: 1.5;
    resize: none;
  }

  .chat__controls {
    display: flex;
    justify-content: space-between;
    margin-top: var(--chat-padding-primary);
  }

  .chat__btn {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    border: 1px solid hsl(0, 100%, 0%, 10%);
    border-radius: var(--chat-border-radius);
    padding-top: calc(var(--chat-padding-primary) / 2);
    padding-left: var(--chat-padding-primary);
    padding-right: var(--chat-padding-primary);
    padding-bottom: calc(var(--chat-padding-primary) / 2);
  }

  .chat__btn--primary {
    background-color: hsl(0, 100%, 100%);
  }

  .chat__btn--secondary {
    background-color: hsl(0, 0%, 75%);
  }

  .float--left {
    float: left;
    background-color: hsl(210.22deg 100% 95%);
  }

  .float--right {
    float: right;
  }

  @media only screen and (min-width: 650px) {
    .chat {
      max-width: 650px;
      height: 700px;
    }
  }
</style>
