<script>
  import { sendFile } from "../api";

  let isDisabled = false;
  let message = "";

  const handleOnSubmit = async (e) => {
    message = ""
    isDisabled = true
    const fd = new FormData(e.target)
    console.log(fd.get('type'))
    try {
      await sendFile(fd)
      isDisabled = false
      message = "Файл успешно загружен"
    } catch (error) {
      message = "Файл не загружен"
      isDisabled = false
    }
  }
</script>

<h1>Справочники</h1>

<form on:submit|preventDefault={handleOnSubmit}>
  <label for="file">Выбрать файл
    <input type="file" id="file" name="file">
  </label>
  <label>
    <span>Тип документа</span>
    <select id="select" name="type" required>
      <option value="load_contract">Контракты</option>
      <option value="load_product">КПГЗ, СПГЗ, СТЕ</option>
      <option value="load_trial_balance">Обороты по счету</option>
      <option value="load_statement_balances">Ведомость остатков</option>
    </select>
  </label>
  <button disabled={isDisabled}>Загрузить</button>
  {#if message}
    <p>{message}</p>
  {/if}
</form>