<script>
    import { createQuery } from '@tanstack/svelte-query'
    import { fetchProducts } from '../api'
    import { pagination } from '../helpers'

    let page = 1
    let search = ''

    $: query = createQuery({
        queryKey: ['products', {page, search}],
        queryFn: () => fetchProducts({ page, search }),
    })

    $: pag = pagination(page, $query?.data?.count, 10)
</script>

<h1>Склад</h1>
<form>
    <input
        type="search"
        name="search"
        placeholder="Поиск"
        aria-label="Search"
        bind:value={search}
        on:input={() => page = 1}
    />
</form>
<div>
    {#if $query.isLoading}
        <div aria-busy="true">Загрузка...</div>
    {:else if $query.isError}
        <p>Error: {$query.error.message}</p>
    {:else if $query.isSuccess}
        {#each $query.data.results as product}
            <div>
                <p><a href="/stock/{product.id}">{product.title}</a></p>
            </div>
        {/each}
    {/if}

    <nav>
        <ul>
            {#each pag.pages as _page}
                {#if _page === '...'}
                    <li><span>{_page}</span></li>
                {:else}
                    <li><a href="#" on:click={() => page = _page}>{_page}</a></li>
                {/if}
            {/each}
        </ul>
    </nav>
    
</div>