<script>
    import { createQuery } from "@tanstack/svelte-query";
    import { fetchProduct, fetchRemains } from "../api";
    import Highcharts from "highcharts";
    import ExportingModule from "highcharts/modules/exporting";
    import { Chart } from "@highcharts/svelte";

    ExportingModule(Highcharts);

    export let id = "";
    let chartInstance;

    $: product = createQuery({
        queryKey: ["product", { id }],
        queryFn: () => fetchProduct(id),
    });

    $: remains = createQuery({
        queryKey: ["remains", { id }],
        queryFn: () => fetchRemains(id),
    });

    $: remainsData = $remains?.data;

    $: options = {
        chart: {
            type: "column",
        },
        navigation: {
            buttonOptions: {
                enabled: true,
            },
        },
        title: {
            text: "График изменения остатков",
        },
        xAxis: {
            categories: remainsData?.remains?.map(
                (item) => item.balance_of_date,
            ),
        },
        yAxis: {
            min: 0,
            title: {
                text: "Количество",
            },
            stackLabels: {
                enabled: true,
            },
        },
        plotOptions: {
            column: {
                stacking: "normal",
                dataLabels: {
                    enabled: true,
                },
            },
        },
        series: [
            {
                name: "Остаток",
                data: remainsData?.remains?.map((item) => item.count),
            },
            // {
            //     name: "Контракты",
            //     data: remainsData?.contract?.map((item) => item.count),
            // },
        ],
    };
</script>

{#if $product.isLoading}
    <div aria-busy="true">Загрузка...</div>
{:else if $product.isError}
    <p>Error: {$product.error.message}</p>
{:else if $product.isSuccess}
    <h1>{$product.data.title}</h1>
    {#if $remains.isSuccess}
        <table>
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Количество</th>
                </tr>
            </thead>
            <tbody>
                {#each $remains.data.remains as item}
                    <tr>
                        <th scope="row">{item.balance_of_date}</th>
                        <td>{item.count}</td>
                    </tr>
                {/each}
            </tbody>
        </table>
        <Chart {options} highcharts={Highcharts} bind:chart={chartInstance} />
    {/if}
{/if}
