<script>
  import { createQuery } from "@tanstack/svelte-query";
  import { fetchUsers, createUser } from "../api";
  import { pagination } from "../helpers";

  let page = 1;
  let isDisabled = false;

  $: query = createQuery({
    queryKey: ["products", { page }],
    queryFn: () => fetchUsers({ page }),
  });

  $: pag = pagination(page, $query?.data?.count, 10);

  let email = "";
  let last_name = "";
  let first_name = "";

  $: console.log($query?.data?.results);

  const handleOnSubmit = async () => {
    isDisabled = true;
    await createUser({ username: email, email, first_name, last_name });
    location.reload();
    isDisabled = false;
  };
</script>

<h1>Пользователи</h1>

<form on:submit|preventDefault={handleOnSubmit}>
  <input
    type="email"
    name="email"
    bind:value={email}
    placeholder="Email"
    aria-label="Email"
    autocomplete="email"
    required
  />
  <input
    type="text"
    name="first_name"
    bind:value={first_name}
    placeholder="Имя"
    aria-label="Имя"
    required
  />
  <input
    type="text"
    name="last_name"
    bind:value={last_name}
    placeholder="Фамилия"
    aria-label="Фамилия"
    required
  />
  <button disabled={isDisabled} type="submit">Добавить</button>
</form>

{#if $query.isLoading}
  <div aria-busy="true">Загрузка...</div>
{:else if $query.isError}
  <p>Error: {$query.error.message}</p>
{:else if $query.isSuccess}
  {#each $query.data.results as user}
    <div>
      <p>
        {user.username}
        {user.first_name}
        {user.last_name} - {user?.permissions?.role}
      </p>
    </div>
  {/each}
{/if}

<nav>
  <ul>
    {#each pag.pages as _page}
      {#if _page === "..."}
        <li><span>{_page}</span></li>
      {:else}
        <li><a href="#" on:click={() => (page = _page)}>{_page}</a></li>
      {/if}
    {/each}
  </ul>
</nav>
