<!-- App.svelte -->
<script>
  import { Router, Link, Route } from "svelte-routing";
  import {onMount} from 'svelte'
  import { QueryClient, QueryClientProvider } from "@tanstack/svelte-query";
  import Home from "./pages/Home.svelte";
  import Stock from "./pages/Stock.svelte";
  import StockBalance from "./pages/StockBalance.svelte";
  import Forecasting from "./pages/Forecasting.svelte";
  import ContractDetail from "./pages/Contracts/Detail.svelte";
  import ContractList from "./pages/Contracts/List.svelte"
  import Users from "./pages/Users.svelte"
  import References from "./pages/References.svelte";
  import Login from "./lib/Login.svelte";
  import { fetchCurrentUser } from "./api";
  import { user } from "./lib/user";
  // import Requests

  export let url = "";

  const queryClient = new QueryClient();

  onMount(async () => {
    try {
      const data = await fetchCurrentUser()
      $user = data
    } catch (error) {
      console.error(error);
    }
  });
</script>

<QueryClientProvider client={queryClient}>
  <Router {url}>
    {#if $user === null}
      <div aria-busy="true"></div>
    {:else if $user.detail !== undefined}
      <main class="container">
        <h1>Авторизуйтесь</h1>
        <Login />
      </main>
    {:else}
      <header class="container">
        <nav>
          <ul>
            <li><Link to="/">Чат</Link></li>
            <li><Link to="/stock">Склад</Link></li>
            <li><Link to="/contract">Контракты</Link></li>
            <li><Link to="/forecasting">Прогнозирование</Link></li>
            {#if $user?.permissions?.type === 'admin'}
            <li><Link to="/users">Пользователи</Link></li>
            <li><Link to="/references">Справочники</Link></li>
            {/if}
          </ul>
          <ul>
            <li>{$user?.username} ({$user?.company_name})</li>
          </ul>
        </nav>
      </header>
      <main class="container">
        <Route path="/references" component={References} />
        <Route path="/users" component={Users} />
        <Route path="/forecasting" component={Forecasting} />
        <Route path="/contract/:id" let:params>
          <ContractDetail id={params.id} />
        </Route>
        <Route path="/contract" component={ContractList} />
        <Route path="/stock/:id" let:params>
          <StockBalance id={params.id} />
        </Route>
        <Route path="/stock" component={Stock} />
        <Route path="/" component={Home} />
      </main>
      <footer class="container"></footer>
    {/if}
  </Router>
</QueryClientProvider>
